<script setup lang="ts">
import { notificationApi } from '@/api'

const dialog = useDialog()
const message = useMessage()

function registerServiceWorker() {
  // Check that service workers are supported
  if (!('serviceWorker' in navigator)) {
    dialog.error({
      title: 'Error',
      content: 'Service workers are not supported.'
    })
    return
  }

  if (!('PushManager' in window)) {
    dialog.error({
      title: 'Error',
      content: 'Push notifications are not supported.'
    })
    return
  }

  // register the service worker
  navigator.serviceWorker
    .register('/sw.js')
    .then(() => {
      console.log('Service worker registered')
      message.success('Service worker registered')
      initPush()
    })
    .catch((err: any) => {
      console.log(err)
    })
}

async function initPush() {
  if (!navigator.serviceWorker.ready) {
    dialog.error({
      title: 'Error',
      content: 'Service worker not ready.'
    })
    return
  }

  const permission = await window.Notification.requestPermission()
  if (permission !== 'granted') {
    dialog.error({
      title: 'Error',
      content: 'Permission not granted.'
    })
    return
  }
  subscribeUser()
}

function urlBase64ToUint8Array(base64String: string) {
  console.log(base64String, base64String.length)
  var padding = '='.repeat((4 - (base64String.length % 4)) % 4)
  var base64 = (base64String + padding).replace(/-/g, '+').replace(/_/g, '/')

  var rawData = window.atob(base64)
  var outputArray = new Uint8Array(rawData.length)

  for (var i = 0; i < rawData.length; ++i) {
    outputArray[i] = rawData.charCodeAt(i)
  }
  return outputArray
}

function subscribeUser() {
  message.info('Subscribing...')
  navigator.serviceWorker.ready
    .then((registration) => {
      const subscribeOptions = {
        userVisibleOnly: true,
        applicationServerKey: urlBase64ToUint8Array(import.meta.env.VITE_VAPID_PUBLIC_KEY)
      }

      return registration.pushManager.subscribe(subscribeOptions)
    })
    .then((pushSubscription) => {
      storePushSubscription(pushSubscription)
    })
}

async function storePushSubscription(pushSubscription: PushSubscription) {
  console.log('pushSubscription', pushSubscription)
  message.info('Subscription to server...')
  try {
    const res = await notificationApi.subscribe({
      ...pushSubscription.toJSON(),
      user_id: 1
    })
    message.success('Subscription successful')
    console.log(res)
  } catch (error) {
    console.log('error', error)
    message.error('Subscription failed')
  }
}

function unsubscribe() {
  navigator.serviceWorker.getRegistration().then((registration) => {
    registration?.unregister().then(() => {
      console.log('Service worker unregistered')
      message.success('Service worker unregistered')
    })
  })
}
</script>
<template>
  <n-space justify="center">
    <n-button type="primary" @click="registerServiceWorker">subscribe</n-button>
    <n-button type="error" @click="unsubscribe">Unsubscribe</n-button>
  </n-space>
</template>
