<script setup lang="ts">
import SubscriptionComp from './components/SubscriptionComp.vue'

navigator.serviceWorker.addEventListener('message', (event) => {
  console.log('Received a message from service worker: ', event.data)
})
</script>

<template>
  <div>
    <n-space justify="center" align="center" class="h-screen">
      <div>
        <div>Message</div>
        <subscription-comp />
      </div>
    </n-space>
  </div>
</template>
