<script setup lang="ts"></script>

<template>
  <n-config-provider preflight-style-disabled>
    <n-dialog-provider>
      <n-message-provider>
        <RouterView />
        <n-global-style />
      </n-message-provider>
    </n-dialog-provider>
  </n-config-provider>
</template>
